{% extends 'layout.html' %} {% block content %}
<div class="container main">
        <div class="loginForm">
            <form id="registerForm" action="/doRegister" method="post">
                <div class="form_group">
                    <label>UserName:</label>
                    <span>{{user.username}}</span>
                    <div class="clearfix"></div>
                </div>
                <div class="form_group">
                    <label>RealName:</label>
                    <span>{{user.realname}}</span>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 
{% block script %}
<script src="/js/passage.js"></script>
{% endblock %}
